* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Variables
$primary-color: #4F7FE7;
$light-color: #E6E6E6;
$black: #000;
$font-family: "Poppins", sans-serif;
$box-shadow: 2px 2px 5px rgba($black, .5), inset 5px 5px 10px rgba($light-color, .5), inset -5px -5px 10px rgba($black, .5);
$inset-shadow: inset 2px 2px 5px rgba($black, .5), inset -2px -2px 5px rgba($light-color, .5);