* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Variables
$primary-color: #4F7FE7;
$light-color: #E6E6E6;
$black: #000;
$font-family: "Poppins", sans-serif;
$text-shadow: -1px -1px $black, 1px -1px $black, -1px 1px $black, 1px 1px $black;