* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes active-button {
  0% {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 5px 5px 10px rgba(230, 230, 230, 0.5), inset -5px -5px 10px rgba(0, 0, 0, 0.5);
    font-size: .9em;
    background-color: #4F7FE7;
  }
  33% {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), inset 3px 3px 7px rgba(230, 230, 230, 0.5), inset -3px -3px 7px rgba(0, 0, 0, 0.5);
    font-size: .88em;
  }
  66% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(230, 230, 230, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: .87em;
  }
  100% {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(230, 230, 230, 0.5);
    font-size: .85em;
    background-color: #7ca0ed;
  }
}

body {
  background-color: #E6E6E6;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  overflow: hidden;
}

.heading {
  position: relative;
  color: transparent;
  background-color: #396fe4;
  background-clip: text;
  text-shadow: 1.5px 1.5px 2.5px rgba(255, 255, 255, 0.4);
  font-weight: 500;
  font-size: 2em;
}

.counter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  background-color: #4F7FE7;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 5px 5px 10px rgba(230, 230, 230, 0.5), inset -5px -5px 10px rgba(0, 0, 0, 0.5);
}

.slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 70px;
  border-radius: 10px;
  background-color: #7ca0ed;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(230, 230, 230, 0.5);
  font-weight: 400;
  font-size: 1.3em;
  color: #E6E6E6;
}

.slot1 {
  height: 40px;
  margin-right: 5px;
}

.slot2 {
  margin-right: 5px;
}

.slot3 {
  margin-right: 5px;
}

.slot4 {
  margin-left: 5px;
}

.slot5 {
  margin-left: 5px;
}

.slot6 {
  margin-left: 5px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 100px;
}

.btn {
  width: 80px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-size: .9em;
  background-color: #4F7FE7;
  border: none;
  border-radius: 10px;
  color: #E6E6E6;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 5px 5px 10px rgba(230, 230, 230, 0.5), inset -5px -5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn:active {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(230, 230, 230, 0.5);
  background-color: #7ca0ed;
  font-size: .85em;
  animation: active-button 0.1s ease;
}

.reset-btn,
.random-btn {
  width: 120px;
  font-weight: 300;
  font-size: .9em;
}
